.place {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
  row-gap: 48px;
}
.place:not(:last-child) {
  padding-bottom: 80px;
}
@media (max-width: 1023px) {
  .place {
    column-gap: 28px;
  }
}
@media (max-width: 767px) {
  .place {
    grid-template-columns: repeat(1, auto);
    row-gap: 32px;
  }
  .place:not(:last-child) {
    padding-bottom: 50px;
  }
}
